<!-- forgot-password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wachtwoord Vergeten</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<%- include('navbar') %>

<body>
    <div class="container">
        <h2 class="text-center mt-5">Wachtwoord Vergeten</h2>
        <form action="/forgot-password" method="POST" class="mt-3">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-gold btn-block">Verstuur reset-link</button>
        </form>
    </div>
</body>
</html>
