/* General Styling */
html, body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#faq {
    padding: 100px 0;
}

.faq-item {
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

.faq-item h3 {
    font-size: 1.75rem;
    color: #FFD700;
}

.faq-item p {
    font-size: 1.2rem;
    color: #FFFACD;
}

/* Footer */
footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
}
